.carousel-item-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.carousel-item-title {
  color: white;
  font-size: 28px;
}

.carousel-item-subtitle {
  color: white;
  font-size: 20px;
}
