#album-details-page-container {
  position: absolute;
  top: 147px;
  padding-left: 24px;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#album-details-page-name {
  color: white;
  font-size: 56px;
  width: 400px;
}

#album-details-page-attribution {
  color: #8d8d8d;
  display: flex;
  font-size: 36px;
  gap: 8px;
  margin-top: -30px;
}

#album-details-page-author {
  color: #962c50;
}

#bandfish-filler-text {
  color: #fff;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  width: 444px;
  margin-top: 32px;
}

#big-track-title {
  color: #962c50;
  font-size: 32px;
  margin-bottom: -14px;
  margin-top: 0px;
}

#big-audio {
  background-color: #f1f3f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  width: 420px;
}
.downloadHider {
  background-color: #f1f3f4;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 1;
  margin-left: 380px;
}

#big-audio audio {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

#e-commerce-start {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

#e-commerce-start * {
  font-size: 36px;
  color: #962c50;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#album-details-page-tracklist {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
#album-details-page-tracklist label {
  display: flex;
  flex-direction: column;
  color: #962c50;
  justify-content: center;
  gap: 8px;
  font-size: 24px;
}

.downloadBlockerSmall {
  background-color: #f1f3f4;
  position: absolute;
  z-index: 2;
  height: 40px;
  width: 40px;
  margin-left: 240px;
}

#album-details-page-sidebar {
  position: absolute;
  right: 15%;
  top: 147px;
  width: 30%;
}

#album-details-page-sidebar-photo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

#album-details-page-sidebar-art {
  width: 400px;
  height: 400px;
}

#album-details-page-sidebar-artist-pfp {
  width: 105px;
  height: 105px;
}

#album-reviews-container {
  color: white;
  position: absolute;
  top: 420px;
}

#managerial-component {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: absolute;
  left: 480px;
  top: 30px;
  width: 200px;
  gap: 24px;
}

#managerial-component button {
  width: 100px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.managerial-update {
  background-color: #8d8d8d;
  transition-duration: 500ms;
}
.managerial-delete {
  background-color: #8d8d8d;
  transition-duration: 500ms;
}

.managerial-update:hover {
  color: black;
  background-color: rgb(70, 70, 70);
}

.managerial-delete:hover {
  color: black;
  background-color: red;
}

#reviews-list {
  list-style: none;
  margin-left: -40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.album-review {
  display: flex;
}

.review-pfp {
  width: 40px;
  height: 40px;
}
