#signupFormModal {
  width: 700px;
  margin-top: -24px;
}

#signupFormModal label {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 0px;
}

#signupFormModal input {
  /* margin-left: ; */
  padding-left: 12px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  width: 400px;
  background-color: #ffffff;
  height: 24px;
}

#signupFormModal input:focus-within {
  outline: none;
}

#signupFormModal button {
  width: 100px;
  height: 50px;
  background-color: #01001a;
  color: #d9d9d9;
  border: none;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 12px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 350px;
  left: 500px;
}

.filetypeSignup button {
  background-color: #01001a !important;
}

.filetypeSignup {
  background-color: rgba(0, 0, 0, 0) !important;
  width: 100px;
}

input[type="file"] {
  font-size: 24;
}

#container-for-profile-uploads {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 150px;
  left: 450px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

#container-for-profile-uploads label {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#container-for-profile-uploads input {
  margin-left: -12px;
  font-size: 20px;
}


.errValids-message {
  color: red;
  margin-top: 2px;
  margin-left: 12px;
  font-size: 20px;
  margin-bottom: 1px;
}
