#loginModalFormContainer {
  height: 300px;
  width: 300px;
  border-radius: 12px;
}

#loginModalFormContainer h1 {
  font-size: 48px;
  margin-left: 24px;
}

#loginModalForm {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

#loginModalForm label {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

#loginModalForm input {
  background-color: #f1f3f4;
  width: 250px;
  border-radius: 5px;
  border: none;
  height: 35px;
  font-size: 28px;
  padding-left: 12px;
}
#loginModalForm input:focus-within {
  outline: none;
}

#loginModalForm button {
  background-color: #01001a;
  height: 50px;
  width: 70px;
  border-radius: 5px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}
