@font-face {
  font-family: Jomhuria;
  src: url("../../../public/jomhuria.ttf");
}

#topNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #01001a;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 67px;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  z-index: 10;
}

#home-navlink {
  margin-left: -16px;
}

#home-navlink img {
  width: 50px;
  height: 50px;
}

#topNavbar > li {
  list-style: none;
}

#login-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  font-family: Jomhuria;
  font-size: 28px;
}

#login-list > li {
  color: white;
  cursor: pointer;
}

#homenavlinkchild {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 12px;
  font-family: Jomhuria;
  color: white;
  text-decoration: none;
  font-size: 44px;
}

#secondNavbar {
  background-color: #d9d9d9;
  position: fixed;
  width: 100%;
  top: 67px;
  height: 60px;
  left: 0;
  z-index: 2;
}
#secondNavbar * {
  background-color: #d9d9d9;
}

#secondNavlist {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
  margin-left: -32px;
  margin-top: 17px;
}

.secondNavlist-link {
  text-decoration: none;
  color: #8d8d8d;
  font-family: Jomhuria;
  font-size: 30px;
}

#pfp-button:focus {
  outline: none;
}

.profile-dropdown {
  position: fixed;
  background-color: white;
  z-index: 100000;
  right: 12px;
  top: 67px;
  height: 120px;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-top: 25px;
  padding-right: 55px;
  justify-content: center;
  align-items: flex-start;
  /* gap: 10px; */
  border-radius: 5px;
  font-size: 20px;
  padding: 0;
  margin-left: 12px;
  width: 200px;
  overflow: clip;
}

.profile-dropdown {
  /* margin-top: 25px; */
  list-style: none;
  text-align: left;
}

.profile-dropdown li {
  padding-left: 12px;
  width: 200px;
  /* font-size: 30px; */
}

.profile-dropdown li:hover {
  background-color: rgba(128, 128, 128, 0.6);
}

.profile-dropdown * {
  background-color: white;
  font-size: 24px;
}

#logout-button {
  border: none;
  cursor: pointer;
  background-color: #ffffff00;
  font-size: 24px;
  color: #000000;
  margin-left: -76px;
  top: 90px;
  /* position: absolute; */
  border-radius: 5px;
  width: 200px;
}
